.mobileHeader {
  display: none;
}
.mobileHeader .wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* align-content: center; */
  align-items: center;
}

.logo2 {
  width: 60%;
  text-align: right;
}
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 65px;
  height: 60px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 30px;
  left: 18px;
  right: 18px;
  height: 3px;
  background: black;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: black;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--htx {
  background-color: transparent;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color:transparent;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}
.mobileMenu .mainNav2 ul li {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  list-style-type: none;
  text-transform: uppercase;
  color: grey;
  text-decoration: none;
  font-size: 1.4rem;
}

.mobileMenu .mainNav2 ul li a {
  color: grey;
  text-decoration: none;
  font-size: 1.4rem;
  width: 100%;
  display: block;
}
.mobileMenu .mainNav2 ul li form input {
  font-family: 'FontAwesome', 'Open Sans';
}
.mobileMenu {
  display: none;
  height: 100vh;
  background-color: rgba(242, 242, 242, 0.64);
}
.mainNav2 {
  height: 100vh;
}
.mainNav2 ul {
  height: calc(100vh - 81px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  text-align: center;
}
.mobileMenu .mainNav2 ul li {
  cursor: pointer;
  padding: 20px 0;
}
.mobileMenu .mainNav2 ul li:hover, li:focus {
  background-color: lightblue;
}
.mobileMenu .mainNav2 ul li form input {
  width: 35%;
}

@media (max-width: 768px ) {
  .mobileHeader {
    display: block;
  }
}
