.productGallery1 {
	.wrapper {
		.blockTitle1 {
			background-color: #C6DBA0;
		}
		.blockTitle2 {
			background-color: #F1DB8B;
		}
		.blockTitle3 {
			background-color: #A7C8E9;
		}
		.blockTitle4 {
			background-color: #EA8C62;
		}
		.blockTitle5 {
			background-color: #BCE5D4;
		}
	}
}